/* Create a transparent header bar. */
window.smtk-keys-win headerbar.titlebar {
  background-color: rgba(0, 0, 0, 0);
  /* In some theme (e.g. Adwaita) it set a background image. */
  background-image: none;
  /* Use this to get a compact header bar when subtitle is disabled. */
  min-height: 0px;
  box-shadow: none;
  border: none;
}
