/* Disable window shadow. */
window.smtk-keys-win {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}
/* Half transparent window. */
window.background {
  background: rgba(0, 0, 0, 0.5);
}
