// Allow any user in the 'wheel' group to run CLI backend
// without entering a password.
polkit.addRule(function (action, subject) {
  if (action.id === "one.alynx.showmethekey.cli" &&
      subject.isInGroup("wheel") && subject.local && subject.active) {
    return polkit.Result.YES;
  }
});
