[Desktop Entry]
Type=Application
Name=Show Me The Key
Comment=Show keys you typed on screen.
Icon=showmethekey
Exec=showmethekey-gtk
TryExec=/usr/bin/showmethekey-gtk
StartupNotify=false
Terminal=false
Categories=GTK;Utility;
